.userStats {
    display: flex;
    flex-direction: column;
}

.popularityIcon {
    width: 20px;
    height: 20px;
}

.userStat {
    display: flex;
    gap: 1rem;
}

.userStat span {
    font-weight: 600;
}

.popularitySection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: 600;
}

.popularityIconsSection {
    display: flex;
    gap: 1rem;
}