.formGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.searchForm {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 2rem;
    margin: 6vw 6vw 4vw 6vw;
}

@media screen and (max-width: 728px) {
    .searchForm  {
        gap: 0;
    }
  
  }
